/* Add CSS Styling */

.odd-numbered {
    background-color: rgb(255, 140, 105);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
    color: rgb(0,0,255);
    font-size: 36px;
}

#fourth {
    background-color: rgb(103, 215, 81);
    font-size: 24px;
    font-weight: bold;
}

.third {
    font-size: 24px;
}