/* Add CSS Styling */

.right {
    color: white;
    background-color: black;
}

.left {
    background-color: yellow;
}

.right, .left {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}